<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thoughtVine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Freestyle+Script&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/login.css" rel="stylesheet">
</head>

<body> <!-- Add flexbox properties here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">thoughtVine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">Posts</a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto">
                    {{#unless currentUser}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/user/{{currentUser.username}}">Signed In as {{currentUser.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">LogOut</a>
                    </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </nav>


    <div class="container flex-grow-1 d-flex flex-column justify-content-center"> <!-- Added classes for flex-grow -->
        <h1 class="text-center">User Login</h1>
        <div class="form-container" style="width: 30%; margin: 25px auto;">

            <!-- Error Message Display -->
            {{#if errorMessage}}
            <div class="alert alert-danger">
                {{errorMessage}}
            </div>
            {{/if}}

            <!-- Login Form -->
            <form action="/login" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </div>
            </form>

            <a href="/posts" class="btn btn-link">Go back</a>
            <a href="/forgot" class="btn btn-link">Forgot Password?</a>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <p>&copy; 2024 thoughtVine. All Rights Reserved.</p>
            <div>
                <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white mr-3"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>


    <!-- Include Bootstrap JS and your custom scripts -->
    <!-- Bootstrap core JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
