/* General Styles */
/* Navbar */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  justify-content: flex-start;
}

body {
  background-color: #f4f4f4;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

.container-fluid {
  flex: 1; /* Make sure container-fluid takes up remaining space */
  padding-top: 56px; /* Adjust for fixed navbar height if needed */
}

/* Profile Section */
.profile-section {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Posts Section */
.posts-section {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.post {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.post h3 a {
  color: #333;
  text-decoration: none;
}

.post h3 a:hover {
  text-decoration: underline;
}

.post img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Trending Topics Section */
.trending-section {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.like-section, .comment-section {
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

.like-icon, .comment-icon {
  font-size: 1.5em;
  margin-right: 5px;

  cursor: pointer;
  color: grey; /* Default color for unliked state */
}
.like-icon.liked {
  color: red; /* Color when liked */
}

.like-icon:hover, .comment-icon:hover {
  color: darkred; /* Change this to your preferred color */
}


/* Footer Styles */
footer {
  background-color: #343a40;
  color: #fff;
  text-align:end;
  padding: 10px;
  width: 100%;
}
/* Button Styling */
.btn-primary {
  background-color: #2d4a6c; /* Primary button color */
  border-color: #2d4a6c;
}

.btn-primary:hover {
  background-color: #1b2f46; /* Darker shade on hover */
  border-color: #1b2f46;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
