<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/PostCreation.css"> <!-- Your custom styles -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
                {{#if currentUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{currentUser.username}}">My Posts</a>
                </li>
                {{/if}}
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#unless currentUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{currentUser.username}}">Signed In as {{currentUser.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LogOut</a>
                </li>
                {{/unless}}
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Add a New Post</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form action="/posts" method="POST">
                    <div class="form-group">
                        <label for="name">Post Name</label>
                        <input class="form-control" id="name" type="text" name="name" placeholder="Enter post name" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input class="form-control" id="image" type="url" name="image" placeholder="Enter image URL" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="hashtags">Hashtags (comma separated)</label>
                        <input class="form-control" id="hashtags" type="text" name="hashtags" placeholder="Enter hashtags">
                        <small class="form-text text-muted">Add relevant hashtags to help others find your post.</small>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                </form>
                <a class="btn btn-secondary btn-block mt-3" href="/posts">Go back</a>
            </div>
        </div>
    </div>
</body>
</html>
